.GoogleMapContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.GoogleMapWrapper {
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  position: fixed;
}

.searchListWrapper {
  color: white;
  font-weight: 500;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--grey);
  height: 100%;
  width: 25%;
  position: relative;
  z-index: 3;
  border-radius: 8px;
  overflow-x: hidden;
}

.searchListWrapper:hover {
  opacity: 1;
  transition: opacity 350ms;
}

.searchListTab {
  display: none;
}

.searchIcon {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 0;
  color: white;
  background-color: var(--primaryColor);
}

.searchBar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.scrolling-wrapper {
  height: 100%;
  border-radius: 8px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.card {
  display: block;
  color: var(--primaryTextColor);
  height: 350px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: auto auto 20px auto; /* margin: [top] [right] [bottom] [left]; */
  border-radius: inherit;
  background: white;
  padding: 8px;
}
.card-img img {
   max-height: 150px;
}
.cardSummary {
  height: 110px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}
.cardSummary p {
  margin: auto;
  max-height: 100%;
  max-width: 262px;
}
.cardDetailButton {
  margin: 4px;
  text-align: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem:hover {
  background-color: rgb(230, 230, 230);
}

.sheenButton {
  right: 12px;
  position: fixed;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 1px 5px 0px var(--primaryBoxShadow),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: white;
  background-color: var(--primaryColor);
  padding: 0;
  min-width: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  min-height: 36px;
  box-sizing: border-box;
  line-height: 1.4em;
}

.locationButton {
  top: 80px;
}

.listButton {
  top: 140px;
}

svg {
  margin: 0 !important;
  vertical-align: middle;
}

.blockNoWrap {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inlineNoWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}