@media (max-width: 676px) {
    .scrolling-wrapper {
        -webkit-overflow-scrolling: touch;
        align-content: center;
        height: 350px;
        border-radius: 8px;
        display: flex;
        flex-wrap: nowrap; 
        overflow-y: hidden;
    }

    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
      }

    .card {
        color: var(--primaryTextColor);
        height: 30vh;
        width: 65vw;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border: 1px solid rgba(0,0,0,0.2);
        margin: auto 20px auto auto;  /* margin: [top] [right] [bottom] [left]; */
        border-radius: inherit;
        background: white;
        flex: 0 0 auto;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .listItem:hover {
        background-color: rgb(230, 230, 230);
    }
}