.NavBar {
  font-family: "Arial";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: var(--speed);
  transition-timing-function: var(--easing);
}

/* .navbar-toggle:not(.collapsed) {
   nth-child 2-4 refers to the 3 <span> horizontal bars in the hamburger menu 
}
 .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  transform: translateY(6px) rotate(45deg);
} */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  transform: translateX(-100%);
}
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  transform: translateY(-6px) rotate(-45deg);
}
.navbar-toggle .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  transform: translate(-34px);
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  transform: translate(0px);
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
