.JobDetail {
  color: white;
  height: 100vh;
  font-size: 15px;
}

.jobImage {
  min-height: 200px;
  min-width: 200px;
  max-height: 240;
  margin: 10px;
}

.left-detail div {
  margin: 20px 0px;
}
