.JobDetail {
  color: white;
  font-size: 16px;
}

.JobDetail div {
  margin-top: 20px;
}

.jobAuthor {
  color: #bdc3c7;
}

.jobAuthor:hover {
  color: #95a5a6;
}

.jobImage img {
  max-height: 350px;
}

.Details {

}

.Details div {
  margin: 20px 0px;
}

.Details .description {
  border-radius: 4px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, .1);
}

.Details p {
  margin: auto;
  max-height: 100%;
}