body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #1a2327 5%, #2196F3, #4A9FF4, #CEF6FF, #CEF6FF 125%);
}

body::-webkit-scrollbar {
  display: none;
}
/* When app os launched from home screen */
@media all and (display-mode: standalone) {
  body .searchListWrapper {
      margin-top: calc(100vh - 104px);
  }
}

@media all and (display-mode: browser) {
  body .searchListWrapper {
      margin-top: calc(100vh - 120px);
  }
}