body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #2196f3, #00aaf8, #00bcf6, #00ccee, #00dae4);
}

body::-webkit-scrollbar {
  display: none;
}
/* When app is launched from home screen */
@media all and (display-mode: standalone) {
  body .searchListWrapper {
      margin-top: calc(100%- 104px);
  }
}

@media all and (display-mode: minimal-ui) {
}

@media all and (display-mode: browser) {
}

@media all and (display-mode: fullscreen) {
}